html {
  box-sizing: border-box; /* al calcular tamños tiene en cuenta los bordes*/
}

* {
  box-sizing: border-box inherit; 
}
.page {
  max-width: 800px;
  margin: 100px auto;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.cambiar{
    display: inline-block;
}
body {
  margin: 0 auto;
  max-width: 600px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}


  
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }
  body {
    color: #555;
  }
  h1,h2,strong,em{
  color: #333;
  }
 
  code,
  pre {
  background: #eee;
  }

  code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  }

 pre {
  padding: 1em;
 }
 a {
    color: #e81c4f;
  }
  /*body {
    color: #566b78;
  }*/
  
  code,
  pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
  }
  
  pre {
    border-left: 2px solid #69c;
  }
  @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
p {
  line-height: 1.2;
}
 .boton{
  padding: 16px 50px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px #14532d;
  background: #22c55e;
  color: #333;
  /*text-shadow: -1px -1px 0 #dcfce7; sombra al texto del boton, lo comentareo por que no me gusta como se ve*/
  text-shadow: -1px -1px 0 rgba(255,255,255, 0.5);
  border-radius: 8px;
  box-shadow: 1px 1px 3px   rgba(0,0,0, 0.5);
  cursor: pointer; /* se pone como la manita del cursos como que hace click*/
 }

button {
  padding: 16px 50px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px #14532d;
  background: #22c55e;
  color: #333;
  /*text-shadow: -1px -1px 0 #dcfce7; sombra al texto del boton, lo comentareo por que no me gusta como se ve*/
  text-shadow: -1px -1px 0 rgba(255,255,255, 0.5);
  border-radius: 8px;
  box-shadow: 1px 1px 3px   rgba(0,0,0, 0.5);
  cursor: pointer; /* se pone como la manita del cursos como que hace click*/

}

button:hover {
  background: #4ade80;
}

button:active {
  background: #65a30d;
  /* box-shadow: none; quita la sombra para efecto visual de que se hunde*/
  box-shadow: -1px -1px 0   rgba(0,0,0, 0.5);
}

.form-group {
  /*border: 1px solid tomato;  la usamos solo como guia, al final se quita*/
  margin: 20px 0;

}

.formulario  {
  color: #333;
  background-color: #fafafa;
}

label, input {
  vertical-align: middle; /* solo funciona para elementos in line, y para que funcione todos los elementeos line deben estar alineados verticalmente*/
}

label, input {
  /* otra forma de hacerlo es negando input:not([type="radio"], [type=checkbox]*/
  width: 100%;
}

#phone {
  width: 100%;
 
}
textarea {
  display: block;
  width: 100%;
  resize: vertical; /* bloquea el texarea para no cambiar tamaño*/
}

label, legend {
  font-weight: bold;
  text-transform: uppercase ;
  font-size: 14px;
  color: #444;
 
}

input[type="text"], input[type="email"] , textarea  {
  background: white ;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;

}
.help {
  font-size: 12px;
  margin-top: 10px;
  color: gray;

}