html, body {
    height: 100%;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}


body {
    background: whitesmoke ;
    margin: 0;
}



.item, .grid-item {
    border: 1px solid coral ;
    height: 50px;
    width: 80px;
    background: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: coral;


}
.grid-item{
    width: auto;
    height: auto;
}

.grid-containner{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*1fr en cuatro partes iguales*/
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    height : 100%;
    border : 2px dashed teal;


}
.item-a{
    grid-area: header ;

}

.item-b{
    grid-area: main ;
    
}

.item-c{
    grid-area: sidebar ;
    
}

.item-d{
    grid-area: footer ;
    
}