html, body {
    margin: 0;
    height: 100%;
   box-sizing: border-box;
}
*{
    box-sizing: inherit;
}


body {
    background: burlywood;
    color: grey;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

main{
    display: flex;
    justify-content: space-evenly;
    gap: 10 px;
    padding: 200px;
    margin-top: 200px;
    border: 10px dashed tomato;
    position: relative;

}



div{
    width: 200px;
    height: 200px;
    border: 2px solid blueviolet;
    background: paleturquoise;
    display: grid;
    place-items: center;
    
}

.Static{
    position: static;/*no tiene ninguna posiscion*/
}

.Relative{
    position: relative; /*se mueve con respecto a su elemento anterios*/
    top: 40px;
    left: 40px;

}

.Absolute{
    position: absolute; /* se posiciona con respecto al elemento superior relativo*/
    top: 40px;
    left: 40px;

}

.Fixed{
    position: fixed;/*relativa al body siempre*/
    top: 40px;
    left: 40px;
}

.Sticky{
    position: sticky;/*se queda ahi asi se tenga scroll, el contenedor donde se encuentra*/
    top: 10px;

}