html {
    box-sizing: border-box; /* al calcular tamños tiene en cuenta los bordes*/
}

* {
    box-sizing: border-box inherit; 
}

body {
    color: #333;
    background-color: #fafafa ;
}

.page {
    max-width: 800px;
    margin: 100px auto;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.form-group {
    /*border: 1px solid tomato;  la usamos solo como guia, al final se quita*/
    margin: 20px 0;

}

label, input {
    vertical-align: middle; /* solo funciona para elementos in line, y para que funcione todos los elementeos line deben estar alineados verticalmente*/
}

label, input [type="text"], input[type="email"],fieldset{
    /* otra forma de hacerlo es negando input:not([type="radio"], [type=checkbox]*/
    width: 100%;
    
}

textarea {
    display: block;
    width: 100%;
    resize: vertical; /* bloquea el texarea para no cambiar tamaño*/
}

label, legend {
    font-weight: bold;
    text-transform: uppercase ;
    font-size: 14px;
    color: #444;
   
}

input[type="text"], input[type="email"] , textarea, fieldset  {
    background: white ;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;

}

.help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;

}

button {
    padding: 16px 50px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px #14532d;
    background: #22c55e;
    color: #333;
    /*text-shadow: -1px -1px 0 #dcfce7; sombra al texto del boton, lo comentareo por que no me gusta como se ve*/
    text-shadow: -1px -1px 0 rgba(255,255,255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px   rgba(0,0,0, 0.5);
    cursor: pointer; /* se pone como la manita del cursos como que hace click*/

}

button:hover {
    background: #4ade80;
}

button:active {
    background: #65a30d;
    /* box-shadow: none; quita la sombra para efecto visual de que se hunde*/
    box-shadow: -1px -1px 0   rgba(0,0,0, 0.5);
}

