html, body {
    margin: 0;
    height: 100%;
   box-sizing: border-box;
}
*{
    box-sizing: inherit;
}


body {
    background: burlywood;
    color: grey;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

main{
    display: flex;
    flex-direction: column;
   

}

nav {
    display: grid;
    place-items: center;
    background: #16a085;


}
header {
    background: #1abc9c;
}

section, header{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  
    
}
.content {
    background: #bdc3c7;
}

.signup {
    background: #7f8c8d;
}
 .feature{
    background: #c0392b;
 }
  .feature-first{
    background: #e67e22;

  }
  .feature:last-child{
    background: #9b59b6;
  }

  @media  screen and (min-width: 992px) {
    .features {
        display: flex;
        order: 1;
    }

     .feature{
        width: 100%;
     }
     .signup{
        min-height: auto;
        height: 100px;
        order:2;
     }

  }